

:root {
  width: 100vw;
  height: 100vh;
  background-color: #41b3a3;
  background-image: url("images/maksym-kaharlytskyi-B9MjX094Vvw-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 3rem;
}

.container {
  height: 100%;
  width: 100%;
}

#heading {
  margin: 0 auto;
  color: #ffffff;
  background-color: #e27d60;
  padding: .25rem 1rem;
  border-radius: 4px;
  width: fit-content;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.responsive-box {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  column-gap: 3rem;
  row-gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.weather-info {
  position: relative;
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
  color: #000000;
  padding: clamp(.75rem, 3vw, 2rem);
  height: 100%;
  width: clamp(16rem, 90%, 20rem); 
  border-color: #41b3a3;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: 0 5px 15px #00000026;
  background-color: #e27d60;
  flex-wrap: wrap;
}

.degrees {
  position: absolute;
  top: .25rem;
  left: 0;
  font-size: 1rem;
  appearance: none;
  border: none;
  background-color: transparent;
  color: #ffffff;
}

.metric {
  font-weight: bold;
  color: #41b3a3;
}

.weather-info p {
  font-size: clamp(.8rem, 4vw, 1rem);
}

#main-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

#main-weather p {
  height: fit-content;
  margin: 0;
}

#temp {
  font-size: clamp(3.5rem, 14vw, 4.5rem);
}

.descript-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #41b3a3;
  border-radius: 5px;
  padding: .25rem .5rem;
  color: #ffffff;
}

#icon {
  height: clamp(1.5rem, 6vw, 2rem);
  width: auto;
}

#additional-weather {
  flex: 1;
  min-width: 8rem;
}

#additional-weather > p {
  padding: .25rem .25rem .25rem .5rem;
  background-color: #41b3a3;
  border-radius: 4px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  gap: .35rem;
}

#additional-weather span {
  display: inline-block;
  min-width: 1rem;
}

#weather-form {
  margin: 0 auto 2rem;
  width: fit-content;
}

#weather-form input {
  width: 15rem;
  height: 2rem;
  appearance: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 15px #00000026;
}

#weather-form input:active, #weather-form input:hover, #weather-form input:focus {
  outline: 2px solid #e27d60;
}

.load-on {
  background-color: #41b3a3;
}

.load-off {
  background-color: #e27d60;
}

#results-heading {
  color: #ffffff;
  margin: 1rem auto;
  width: fit-content;
  font-size: 1.5rem;
}

.alt-locations {
  height: fit-content;
  width: 100%;
  min-width: 18rem;
  margin: 0 auto;
  min-height: 10rem;
}

.alt-locations > div {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  
}

.alt-locations > div div {
  padding: .25rem .5rem;
  border-color: #41b3a3;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: 0 5px 15px #00000026;
  cursor: pointer;
  background-color: #85dcb8;
  color: #000000;
  transition: transform .5s ease-in-out;
}

.alt-locations > div div:hover {
  transform: scale(1.02);
}

.alt-locations > div div.selected {
  background-color: #e27d60;
  transform: scale(1.025);
}

.gif-container {
  width: 100%;
}

.gif-btn {
  width: fit-content;
  margin: 1rem auto .5rem;
  display: block;
  appearance: none;
  border: none;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: 0 5px 15px #00000026;
}

.box {
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
  display: none;
}

#gif {
  width: 100%;
  height: 100%;
  background-color: #41b3a3;
}

.clear {
  height: 12rem;

}

footer {
  position: fixed;
  bottom: 0;
  height: 3rem;
  width: 100%;
  background-color: #41b3a3;
  display: flex;
  flex-direction: column;
  gap: .25rem;
  align-items: center;
  justify-content: center;
}

footer p {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .25rem;
  flex-wrap: wrap;
  color: #ffffff;
  font-size: clamp(.8rem, 4vw, .9rem);
}

footer p a {
  color: #ffffff;
}